<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Type: <span data-th-text="${type}"></span></h1>

    <ul>
        <li data-th-each="tv: ${results}">
            <a data-th-href="@{/tvshow/{id}(id=${tv.id})}">
                <span data-th-text="${tv.name}"></span>
                <span data-th-text="${tv.rating}"></span>
            </a>
        </li>
    </ul>

</body>
</html>